body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  background: url("https://utfs.io/f/deb603b2-c5bc-4b98-b26b-fa176dc0812f-53g9n9.png");
}

header {
  color: white;
  padding: 10px 0;
  text-align: center;
  backdrop-filter: blur(20px);
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

.restaurant-button {
  background-color: #ff9800;
  //color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.7;
  transition: 0.3s;
}

.restaurant-button:hover {
  background-color: aliceblue;
  opacity: 1;
}

#content {
  padding: 20px;
  text-align: center;
}
.menu {
  backdrop-filter: blur(20px);
}

.about,
.team,
.menu {
  margin: 20px auto;
  max-width: 800px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about img,
.team-member img {
  max-width: 100%;
  height: auto;
}

.team-member {
  margin: 20px 0;
}

.menu-item {
  background: #fff8e1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
