/* src/style.css */

:root {
  --main-color: rgb(255, 248, 242);
  --accent-color: rgb(237, 157, 95);
  --second-color: rgb(240, 216, 118);
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--main-color);
  background: url("https://utfs.io/f/deb603b2-c5bc-4b98-b26b-fa176dc0812f-53g9n9.png");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  //height: 100vh;
  //width: 100vw;
}

header {
  //background-color: var(--accent-color);
  backdrop-filter: blur(20px);
  padding: 10px;
  width: 50vw;
  margin: 0 auto;
  border-radius: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  margin: 5px;
}

img {
  //width: 80vw;
}

.restaurant-button {
  background-color: #fff8f2; /* Main color */
  color: #333;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.restaurant-button:hover {
  background-color: var(--accent-color);
  color: #fff8f2;
  border-color: #fff8f2;
  transition: 0.3seconds;
}

#content {
  //margin: auto;
  border: 2px orange solid;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan {
  width: 80vw;
  //border: 5px black solid;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: White;
  font-size: 2.5em;
  backdrop-filter: blur(10px);
}

.sub-slogan {
  //width: 50vw;
  //border: 5px black solid;
  margin: 20px 0 0 0;
  font-size: 1.5em;
}
